@use "./global.scss" as g;

#header {
  padding: 2.5rem 0 3rem;
  background-color: tomato;
}

.navbar {
  @include g.flexbox(center, space-between);
  font-weight: normal;
  &__menu{
    @include g.flexbox(center,);
  }
  &__item{
    text-transform: uppercase;

  }
}
