*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
body {
  font-family: "Open Sans", sans-serif;
  min-height: 100vh;
}

.container {
  width: 400px;
  color: white;
  background-image: linear-gradient(145deg, #2193b0, #6dd5ed);
  margin: 50px auto;
  font-size: 14px;
}

.search-bar {
  margin: 0 auto;
  width: 50%;
  padding-top: 20px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid white;
}

.search-icon {
  position: absolute;
  left: 0;
}

#search-input {
  width: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  padding: 3px 3px 3px 20px;
  height: 20px;
  color: white;
}

#search-input::placeholder {
  color: rgb(206, 206, 206);
}

.info-wrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.city-name {
  font-size: 20px;
  margin-bottom: 3px;
}

.weather-state {
  font-size: 13px;
}

.weather-icon {
  width: 70px;
  height: 70px;
}

.temperature {
  font-size: 80px;
  line-height: 1;
  font-weight: lighter;
  position: relative;
}

.temperature::after {
  content: "O";
  position: absolute;
  font-size: 30px;
}

.additional-section {

  border-top: 1px solid white;
  padding: 10px 20px;
  display: flex;
  flex-flow: column nowrap;
}

.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.item {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
}

.additional-section .item .label {
  font-weight: bold;
}
